<%= form_with(model: xwlb) do |form| %>
  <% if xwlb.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(xwlb.errors.count, "error") %> prohibited this xwlb from being saved:</h2>

      <ul>
        <% xwlb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :index_of_day, style: "display: block" %>
    <%= form.number_field :index_of_day %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :fulltext, style: "display: block" %>
    <%= form.text_area :fulltext %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
