<div id="<%= dom_id xwlb %>">
  <p>
    <strong>Date:</strong>
    <%= xwlb.date %>
  </p>

  <p>
    <strong>Index of day:</strong>
    <%= xwlb.index_of_day %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= xwlb.title %>
  </p>

  <p>
    <strong>Fulltext:</strong>
    <%= xwlb.fulltext %>
  </p>

</div>
