<p style="color: green"><%= notice %></p>

<%= render @xwlb %>

<div>
  <%= link_to "Edit this xwlb", edit_xwlb_path(@xwlb) %> |
  <%= link_to "Back to xwlbs", xwlbs_path %>

  <%= button_to "Destroy this xwlb", @xwlb, method: :delete %>
</div>
